[Unit]
Description=Node.js App
After=network.target multi-user.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/param-logger/server
ExecStart=/usr/bin/npm run serve
Restart=always
Environment=NODE_ENV=production
EnvironmentFile=/home/ubuntu/param-logger/server/.env
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=param_logger

[Install]
WantedBy=multi-user.target